<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %> 

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 cl-md-6 text-center">
        <h1 style="color: red;"><%= title %></h1>
        <form class="form" method="POSt">
            <!--this is the form for the add page -->
            <div class="form-group">
                <label for="NameTextField">Assignment Title</label>
                <input type="text" class="form-control"
                id="NameTextField"
                placeholder="Enter the assignment title"
                name="Name"
                value="<%= assignments.Name %>"
                required
                style="background-color: yellow;"
                style="color: black;">
            </div>
            <br>
            <div class="form-group">
                <label for="DescriptionTextField">Assignment Description</label>
                <input type="text" class="form-control"
                id="DescriptionTextField"
                placeholder="Enter the assignment description"
                name="Description"
                value="<%= assignments.Description %>"
                required
                style="background-color: yellow;"
                style="color: black;">
            </div>
            <br>
            <div class="form-group">
                <label for="DueDateTextField">Assignment Due Date</label>
                <input type="text" class="form-control"
                id="DueDateTextField"
                placeholder="Enter the assignment due date"
                name="DueDate"
                value="<%= assignments.DueDate %>"
                required
                style="background-color: yellow;"
                style="color: black;">
            </div>
            <br>
            <br>
            <br>
            <!--the below 2 buttons are for submit and delete-->            
            <button class="btn btn-primary" type="submit"
            style="background-color: rgba(47, 240, 41, 1); color: black;">
                <i class="fa-solid fa-thumbs-up"></i> Submit
            </button>

            <a href="/assignments" class="btn btn-warning"
                style="background-color: rgba(255, 0, 0, 1); color: black;">
                <i class="fa-solid fa-ban"></i> Cancel
            </a>
            </form>
            </div>
        </div>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs %> 
<!--footer-->
<%- include ../partials/footer.ejs %> 