<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 
<!--Nav Bar-->
<main>
<!-- main  Content-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    <h2>This is Omar Bushnaq's Website</h2>




<% if (title == "Home") { %>
        <section id="homeSection">
            <div class="home-content">
                <h2>Welcome to My website!</h2>
                Get to know me, my interests and projects I've worked on. Feel Free to contact me
            </div>
        </section>
<% } %>



<% if (title == "about") { %>
        <!--abOUT ME -->
        <section id="about">
            <div class = "about container">
                <div class="colLeft">
                    <div>
                        <!--video width ="600" height="400" controls>
                            <source src="https://www.youtube.com/watch?v=0yZcDeVsj_Y" >
                            your browser does not support HTML video.
                        </video-->
                        <iframe width="600" height="200" src="https://www.youtube.com/embed/0yZcDeVsj_Y" frameborder="0" allowfullscreen></iframe>
                        <!--This ^ is from ChatGPT iframe is used to embed Youtube videos
                        all of the functions are pretty self-explanatory-->
                    </div>
                    <div class="aboutIMG">
                    <img src="https://www.schoolfinder.com/Graphics/Schools/University/Banner/uuoit08.jpg" style="width: 20%; height: 20%;">
                </div>    
                </div>
                <!--                End Left Column-->
                <!--                Right column-->
                <div class="colRight">
                <h2>Some more interesting facts:</h2>
                <p>I, Omar Bushnaq, am a cyber security enthusiast.
                    I enjoy the pursing knowledge and experience in the Information
                Technology field.  My hobbies include working out 
                as well as watching TV Shows.  
                </p>
                </div>


            </div>
        </section>
<% } %>


<% if (title == "projects") { %>
        <section id="about">
            <div class = "about container">
                <div class="colLeft">
                    <div class="projects">
                    </div>
                </div>
                <!--                End Left Column-->
                <!--                Right column-->
                <div class="colRight">
                    <h2>Projects: </h2>
                    <p>I have done many projects related to Information Technology.</p>
                    <p>The first project was completed in High School. Using a breadboard, an arduino,
                        2 tires, and lots of wires, I made a fully autonomous robot.
                    </p>
                    <p>I plan to purse and complete many more projects relating to Information Technology
                        specifically relating to Cyber Security.
                    </p>
                    <h2>School Assignments: </h2>
                    <p>The assignment I am most proud was for my Object-Oriented Programming course
                        which I took in the winter semester of 2023. For my final project,
                        I made a GUI interface using Python for encryption and decryption. 
                    </p>


            </div>
            </div>
        </section>
<% } %>

<% if (title == "contact") { %>
        <section id="contactMe">
            <div class = "contact container">
                <div>
                    <h2>Contact Information</h2>
                </div>
                <div class="contactItems">
                    
                    <div class ="contactinfo">
                        <form 
                            action="#" 
                            method="post" 
                            class="phpEmailForm"
                            >
                            <p>Name:</p>
                                <input type="text"  name="name" placeholder="NAME" required>
                            <p>Email:</p>
                                <input type="email"  name="email" placeholder="EMAIL ADDRESS" required>
                            <p>Subject:</p>
                            <input type="text"  name="subject" placeholder="Message Subject" required>
                            <p>Message:</p>
                            <textarea style="height: 150px" name="message" placeholder="Your message" required></textarea>
                            <div class ="button">
                                <button class="button" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>
<% } %>

</div>

</div>
</main>
<%- include partials/bottom_nav.ejs %> 
<!--footer-->
<%- include partials/footer.ejs %> 
